<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/blog_nav' %>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            From the Firehose
          </h3>
          <p>
            <%= link_to 'Write a New Blog', new_blog_path if can? :create, Blog %>
          </p>
        </div>
        
        <%= yield %>

        <%= render 'shared/blog_sidebar' %>

      </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="blog-footer">
      <p><%= copyright_generator '' %></p>
    </footer>

    <%= source_helper %>
  </body>
</html>
